p {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.foto-perfil {
    height: 100%;
    max-width: auto;
    border-radius: 50%;
}

.icones {
    padding-left: 5px;
}

.titulosBrancos {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.titulosVerdes {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #18bc9c
}

.paragrafoBrancos {
    color: white !important;
}


.jumbotron {
    margin-bottom: 0px;
}

html {
    scroll-behavior: smooth;
}

p {
    color: black !important;
}

.corPrimaria {
    background-color: #18bc9c;
}

.itemMenu {
    color: white;
}



  .linha{
    
    top: 50%;
    margin: 0 10em;
    border-right: 2px solid rgba(255,255,255,0.75);
    font-size: 3em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateX(-50%);
  }

  @media(min-width:322px){
      .linha{
          margin-left: 50%;
          font-size: 2em;
      }
  }
  
  /* Animação */
  
  .anim-typewriter{
    animation: typewriter 4s steps(40) 1s 1  normal both,
    blinkTextCursor 100ms steps(40) infinite normal;
  }
  
  @keyframes typewriter{
    from{
      width: 0;
    }
    to{
      width: 10em;
    }
  }
  
  @keyframes blinkTextCursor{
    from{
      border-right-color: rgba(24, 22, 22, 0.75);
    }
    to{
      border-right-color: transparent;
    }
  }

   .imageIcone {
    width: 50px;
}
 #meusConhecimentos {
    width: 100%;
    padding: 70px;
    overflow: hidden;
}
#meusConhecimentos h2 {
    text-align: center;
    margin-top: 20px;
    color: #0e2431;
    font-size: 30px;
}
 #meusConhecimentos div {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    margin-top: 25px;
}
 #meusConhecimentos article {
    text-align: center;
    height: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    margin: 10px;
    flex-basis: 250px;
    flex-grow: 1;
    box-shadow: 0px 0px 20px #e7e7e7;
    transition: all 0.5s;
}
 #meusConhecimentos article:hover {
    cursor: pointer;
    transform: scale(1.05);
}
 #meusConhecimentos article h2 {
    padding: 10px 0px;
    font-size: 20px;
}
 #meusConhecimentos article p {
    line-height: 30px;
}
@media screen and (max-width: 800px) {
     #meusConhecimentos {
        padding: 70px 10px;
    }
}

footer {
  padding: 50px 10px;
  background-color: #232323;
  text-align: center;
}
footer p {
  color: #fff;
  padding: 25px;
  font-size: 14px;
  font-weight: 200;
}
footer #midiasSociaisFooter {
  margin: 0 auto;
}
footer #midiasSociaisFooter i {
  padding: 0px 20px;
  color: #fff;
  font-size: 24px;
}
footer #midiasSociaisFooter i:hover {
  cursor: pointer;
  color: #3460da;
}
